

/* global */

.container {
	max-width: 960px;
	margin: 0 auto;
}

.group:after {
	display: table;
	content: '';
	clear: both;
}

/* grid */

[_col] {
	margin-left: 25px;
	float: left;
}

[_col~="1"] {
	width: calc(100% - 25px);
}

[_col~="3/4"] {
	width: calc(75% - 25px);
}

[_col~="1/2"] {
	width: calc(50% - 25px);
}

[_col~="1/4"] {
	width: calc(25% - 25px);
}



/* typography */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

h1, h2, h3, p, a, ul, li {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 3.5em;
	line-height: 2.5em;
	text-align: center;
}

h1 em {
	text-transform: uppercase;
	font-style: normal;
	font-weight: 300;

}

h2 {
	font-size: 2.125em; 
	text-transform: lowercase;
	border-bottom: 3px solid white;
	margin-bottom: 15px;
}

h3 {
	font-size: 1.25em;
	margin-bottom: 15px;
}

p, li {
	font-size: 1em; 
	line-height: 1.625em; 
}

p {
	text-align: justify;
	margin-bottom: 1em;
}

p em {
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

a:link, a:visited {
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:target, a:active {	
	font-weight: 700;
}


li {
	list-style: none;
	margin-bottom: .45em;
}

blockquote:before {
	content: '❝';
	padding-right: 5px;
}

blockquote {
	font-size: 2em;
	line-height: 1.4em;
}

blockquote:after {
	content: '❞';
	padding-left: 5px;
}

blockquote:before, blockquote:after {
	font-size: 1.4em;
}


/* colors */

body {
	background: #E8D2B2;
	background-image: url('../img/natural-paper.png');
	background-attachment: fixed;
	color: #fff;
}

a:link, a:visited {
	color: #CF2721;
}

a:hover, a:target {
	background: #CF2721;
	color: #E8D2B2;
}


a[href="index.html"]:link, a[href="index.html"]:visited, a[href="index.html"]:hover, a[href="index.html"]:target, a[href="index.html"]:active {
	color: #fff;
}

h2 {
	color: #7592A4
}

h3 {
	color: #BCC590;
}

em {
	background: #F4D844;
}

/* #7592A4 blue
#F4D844 yellow
#E8D2B2 tan
#CF2721 red
#BCC590 green



/* image */

img {
	width: 100%;
}

/* header */

header {
	padding: 25px 50px;
}

/* nav */

nav ul li {
	float: left;
	margin: 25px 15px 0;
}

nav ul li a {
	padding: 50px 100px;
}

nav ul {
	float: right;
}


/* MEDIA QUERIES 

@media (max-width: 897px) {



}

@media (max-width: 768px) {

	body {
		font-size: 18px;
	}


	[_col] {
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	nav {
		font-size: 1.1em;
	}

	p, li {
		font-size: 0.875em;
		line-height: 1.6em; 
	}


}

@media (max-width: 518px) {
	
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.7em;
	}

	p, li {
		line-height: 1.85em;
		text-align: left;
	}


}

/*


